@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-style: italic;
}

.banner {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 308px 0;
  color: white;
  font-weight: bold;
  &-content {
    max-width: 304px;
    margin: 0 auto;
    margin-bottom: 40px;
    p {
      font-size: 24px;
      line-height: 42px;
    }
    h1 {
      margin-bottom: 32px;
      font-size: 80px;
      font-weight: 1000;
      line-height: 106px;
    }

    h2 {
      font-size: 24px;
      line-height: 32px;
      white-space: nowrap;
    }
  }

  &-links {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

.about {
  padding: 56px 0;
  text-align: center;
  h2 {
    font-size: 64px;
    line-height: 84px;
    margin-bottom: 40px;
  }
  &-image {
    margin-bottom: 20px;
  }
  &-info {
    font-weight: bold;
    li {
      font-size: 24px;
      line-height: 42px;
      .job {
        line-height: 36px;
      }
    }
    &::after {
      content: '';
      display: block;
      width: 384px;
      border-top: 1px solid #000;
      margin: 0 auto;
      margin-top: 23px;
      margin-bottom: 28px;
    }
  }

  &-experience {
    font-weight: bold;

    li {
      &::before {
        display: inline-block;
        content: '';
        margin-right: 16px;
        background-color: #891818;
        width: 22px;
        height: 22px;
        border-radius: 50%;
      }
      font-size: 24px;
      line-height: 42px;
      margin-bottom: 28px;
    }
  }
}

.brand {
  background-color: #000;
  color: white;
  padding-top: 56px;
  padding-bottom: 106px;
  text-align: center;
  h2 {
    font-size: 64px;
    line-height: 84px;
    margin-bottom: 12px;
  }
  h3 {
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 32px;
  }
  p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 68px;
  }
  &-images {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 24px;
  }
}

.works {
  padding-top: 56px;
  padding-bottom: 144px;
  text-align: center;
  h2 {
    font-size: 64px;
    line-height: 84px;
    margin-bottom: 16px;
  }
  > p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 56px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 48px 24px;
    &-item {
      img {
        margin-bottom: 16px;
      }
    }
  }
}

.contact {
  padding: 64px 0;
  text-align: center;
  background-color: #000;
  color: white;
  h2 {
    font-size: 64px;
    line-height: 84px;
    margin-bottom: 16px;
  }
  &-link {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    a {
      color: white;
      font-size: 24px;
      line-height: 36px;
      transition: color 0.2s linear;
      &:hover {
        color: #000;
        background-color: white;
      }
    }
  }
}

.container {
  max-width: 1200px;
}

img {
  vertical-align: middle;
}
