<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/styles/all.css">
</head>

<body>
  <%- contents %>

    <footer class="contact">
      <h2>Contact</h2>
      <ul>
        <li class="contact-link"><a href="mailto:xxxd@hexschool.com">Mail：xxxd@hexschool.com</a></li>
        <li class="contact-link"><a href="tel:+886-910123456"">Phone Number：0910123456</a></li>
    </ul>
  </footer>

</body>

</html>